<%- include('header') -%>
<title>CRUD SQLite y Node</title>
<h1>Acerca de nosotros</h1>
<img class="relleno" src="web/img/relleno.jpg">
<div class="desarrollo">
    <p>Este proyecto está desarrollado utilizando el entorno de desarrolo Node.js, el lenguaje de programación JavaScript,
        el diseño fue realizado con CSS y la biblioteca Bootstrap y se utilizó SQLite3 como base de datos.

        Su función es almacenar de forma rápida y práctica una lista de productos. Al mismo tiempo, por medio de una interfaz
        intiutiva, nos permite realizar modificaciones y su eliminación cuando fuera necesario.
        Tiene un diseño simple pero práctico, lo que permite al usuario reconocer fácilmente las opciones para navegar a través
        de las diferentes ventanas del sitio. En la segunda ventana se encuentra un pequeño desarrollo de la página. En la tercer
        ventana se encuentra el sistema puramente funcional que nos permite leer, cargar, modificar y eliminar productos. Y en la última 
        pantalla se encuentra una opción de contacto que le permitirá al usuario contactarse con el administrador del sitio por 
        consultas o sugerencias. 
        
        Esperamos que sea de su agrado y que disfrute de las funcionalidades del sitio. 
     </p>
</div>
<%- include('footer') -%>