<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="web/css/Bootstrap/estilo.css">
<link rel="stylesheet" href="web/css/Bootstrap/estilos.css">
</head>
<body>
    <div class="container">
        <img class="banner" src="/web/img/header.jpg">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width:780px">
            <a class="navbar-brand" href="/">Aplicación</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"> <a class="nav-link" href="http://localhost:5000/acerca">Acerca de Nosotros</a></li>
                <li class="nav-item"> <a class="nav-link" href="http://localhost:5000/productos">Productos</a></li>
                <li class="nav-item"> <a class="nav-link" href="http://localhost:5000/contacto">Contacto</a></li>
            </ul>
    </div>
</body>
</html>