<!DOCTYPE html>
<html>
<head>
    <title>CRUD SQLite y Node</title>
<meta charset="utf-8">
<meta name ="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="web/css/Bootstrap/estilo.css">
<link rel="stylesheet" type="text/css" href="web/css/Bootstrap/estilos.css">
<%- include('header') -%>
<img src="web/img/logo.png" class="grande"/>
</head>
<body>
    <h1>INDEX</h1>
    <%- include('footer') -%>
    <script src="web/js/funciones.js"></script>
</body>
</html>

